.exp4{
    
    height: 100vh;
}

.exp4 > div1{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 100px;
    height: 20%;
    font-size: 25px;
}

.exp4 > div1 > img {
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

.exp4 > div1 > img:hover {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    cursor: pointer;
}

.exp4 > div2 {
    width: 100%;
    min-height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.exp4 > div2 > div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.exp4 > div2 > div > input {
    padding: 10px;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid black;
    font-size: 20px;
    margin-right: 15px;
}

.exp4 > div2 > div > button {
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid black;
    font-size: 20px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
}

.exp4 > div2 > ul {
    list-style: none;
    padding: 0;
    margin: 10px;
}

.exp4 > div2 > ul > li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 400px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 15px;
}

.exp4 > div2 > ul > li > span {
    font-size: 20px;
    flex-grow: left;
    color: black;
    cursor: pointer;
}

.exp4 > div2 > ul > li > button{
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid black;
    cursor: pointer;
    background-color: #f44336;
    color: white;
}