* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #212121;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

div1 {
  margin: 40px;
  padding-top: 30px;
  height: 400px;
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 80px;
  border: black;
  color: white;
  background-color: rgb(47, 42, 41);
  border-radius: 25px;
  box-shadow: 2px 2px 15px rgb(255, 255, 255);
  overflow: hidden;
  transition: 1s;
}

div1:hover {
  transform: scale(1.03);
}

div1>h1:nth-child(1) {
  color: aqua;
}

div1>input {
  width: 70%;
  height: 10%;
  padding: 0 10px;
  border-radius: 15px;
}

div1>.output1 {
  text-align: center;
  width: 80%;
  overflow: auto;
}

div2 {
  margin: 40px;
  padding-top: 30px;
  height: 400px;
  width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: black;
  background-color: rgb(47, 42, 41);
  border-radius: 25px;
  box-shadow: 2px 2px 15px rgb(252, 252, 252);
  position: relative;
  transition: 1s;
}

div2:hover {
  transform: scale(1.03);
}

div2>h1 {
  color: aqua;
}

div2>p {
  position: absolute;
  top: 50%;
}

div2>footer {
  color: #dac021;
  position: absolute;
  bottom: 0;
  padding: 0 0 5% 0;
}

div3 {
  margin: 40px;
  padding-top: 30px;
  height: 400px;
  width: 420px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: black;
  background-color: rgb(47, 42, 41);
  border-radius: 25px;
  box-shadow: 2px 2px 15px rgb(252, 252, 252);
  position: relative;
  transition: 1s;
}

div3:hover {
  transform: scale(1.03);
}

div3>h1 {
  color: aqua;
}

div3>h2 {
  margin: 50px 0 30px 0;
}

div3>div31 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

div3>div31>button {
  cursor: pointer;
  margin: 0 0 30px 0;
  font-weight: bold;
  font-size: 14px;
  width: 100px;
  height: 40px;
  border-radius: 15px;
}

div3>div32>label {
  font-size: 16px;
  padding: 10px;
  font-weight: bold;
}

div3>div32>input {
  width: 70px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}

div4 {
  margin: 40px;
  padding: 30px 0;
  min-height: 200px;
  width: 420px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: black;
  background-color: rgb(47, 42, 41);
  border-radius: 25px;
  box-shadow: 2px 2px 15px rgb(252, 252, 252);
  transition: 1s;
}

div4:hover {
  transform: scale(1.03);
}

div4>h1 {
  color: aqua;
}

div4>div41>input {
  height: 30px;
  margin: 20px 10px;
  font-size: 15px;
  border-radius: 10px;
  padding: 0 10px;
}

div4>div41>button {
  height: 30px;
  width: 90px;
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(65, 236, 65);
  border-radius: 10px;
  cursor: pointer;
}

div4>ul {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 15px;
}

div4>ul>li {
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  width: 80%;
  border: 1px solid white;
  border-radius: 5px;
}

div4>ul>li>span {
  font-weight: bold;
  color: black;
  cursor: pointer;
}

div4>ul>li>button {
  padding: 2px 4px;
  color: white;
  background-color: #f53b2d;
  border-radius: 5px;
  cursor: pointer;
}

div5 {
  margin: 40px;
  padding: 30px 10px;
  min-height: 200px;
  width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: black;
  background-color: rgb(47, 42, 41);
  border-radius: 25px;
  box-shadow: 2px 2px 15px rgb(252, 252, 252);
  transition: 1s;
}

div5:hover {
  transform: scale(1.03);
}

div5>h1 {
  color: aqua;
}

div5>button {
  margin: 20px;
  padding: 5px;
  font-size: 13px;
  border: 2px solid #05f539;
  border-radius: 10px;
  background-color: #2bff00;
  cursor: pointer;
}

div5>button:hover {
  transform: scale(0.95);
}

div51 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

div52 {
  border: 3px solid rgb(122, 234, 241);
  border-radius: 15px;
  text-align: center;
  padding: 8px;
  color: cyan;
}

div52>img:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

div52>button {
  margin: 2px;
  padding: 3px;
  font-size: 13px;
  border: 2px solid #f50505;
  border-radius: 10px;
  background-color: #fc4040;
  cursor: pointer;
  font-weight: bold;
}

div52>button:hover {
  transform: scale(0.95);
}

div6 {
  margin: 40px;
  padding: 30px 10px;
  min-height: 200px;
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: black;
  background-color: rgb(47, 42, 41);
  border-radius: 25px;
  box-shadow: 2px 2px 15px rgb(252, 252, 252);
  transition: 1s;
}

div6:hover {
  transform: scale(1.03);
}

div6>h1 {
  color: aqua;
  margin: 0 0 20px 0;
}

div6>form {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

div61 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

div612 {
  min-width: 300px;
  text-align: center;
  align-items: center;
  border: 1px solid white;
  padding: 5px 25px;
  border-radius: 5px;
}

div6>form>button {
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 500;
  background-color: rgb(51, 190, 233);
  border-radius: 10px;
  cursor: pointer;
}

.error-text {
  color: rgb(255, 65, 65);
}

.error {
  border: 1px solid red;
}

.showPassword-button {
  color: rgb(53, 105, 248);
  cursor: pointer;
}

div6>form>div61>div612>input {
  padding: 1px 5px;
  font-size: 14px;
  font-weight: 500;
  background-color: #ffffff00;
  margin: 0 0 0 5px;
  color: white;
}

div7 {
  margin: 40px;
  padding: 30px 10px;
  height: 500px;
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: black;
  background-color: rgb(47, 42, 41);
  border-radius: 25px;
  box-shadow: 2px 2px 15px rgb(252, 252, 252);
  transition: 1s;
}

div7:hover {
  transform: scale(1.03);
}

div7>h1 {
  color: aqua;
  margin: 0 0 20px 0;
}

div7>button {
  margin: 0 0 20px 0;
  padding: 5px;
  font-size: 13px;
  font-weight: bold;
  border: 2px solid #05f539;
  border-radius: 10px;
  background-color: #2bff00;
  cursor: pointer;
}

div7>button:hover {
  transform: scale(0.95);
}

div71 {
  width: 70%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  border: 1px solid white;
  border-radius: 10px;
}

div711 {
  width: 130px;
  height: 130px;
  overflow: hidden;
  border-radius: 50%;
  transition: 1s;
}

div711:hover {
  transform: scale(1.15);
}

div712 {
  width: 70%;
  text-align: center;
  align-items: center;
}

div8 {
  margin: 40px;
  padding: 30px 10px;
  min-height: 350px;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: black;
  background-color: rgb(47, 42, 41);
  border-radius: 25px;
  box-shadow: 2px 2px 15px rgb(252, 252, 252);
  transition: 1s;
}

div8:hover {
  transform: scale(1.03);
}

div8>h1 {
  color: aqua;
  margin: 0 0 20px 0;
}

div8>form {
  width: 80%;
  border: 1px solid rgb(39, 173, 226);
  border-radius: 15px;
  display: flex;
  background: linear-gradient(45deg, #8eff93, #00ffbf);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
  padding: 20px;
  margin: 0 0 20px 0;
  gap: 20px;
}

div8>form>table {
  width: 100%;
  border-collapse: collapse;
}

div8>form>table th {
  padding: 5px 15px;
}

div8>form>table th {
  font-weight: 600;
  display: inline-block;
  width: 100%;
}

div8>form>table input,
div8>form>table textarea {
  width: 100%;
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f9f9f9;
  transition: border-color 0.2s;
}

div8>form>table input:focus,
div8>form>table textarea:focus {
  outline: none;
  border-color: #4f46e5;
  background-color: #fff;
}

div8>form>button {
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 500;
  background-color: rgb(51, 190, 233);
  border-radius: 10px;
  cursor: pointer;
}

div81 {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

div81>button {
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 500;
  background-color: rgb(233, 103, 51);
  border-radius: 10px;
  cursor: pointer;
}

div8>ul {
  width: 100%;
  list-style: none;
  padding: 5px;
}

div8>ul>li {
  padding: 5px;
  border: 1px solid #30b2c9;
  border-radius: 6px;
  margin-bottom: 10px;
  color: black;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-direction: column;
  justify-content: space-between;
}

div8>ul>li>button {
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
}

div9 {
  margin: 40px;
  padding: 30px 10px;
  min-height: 350px;
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: black;
  background-color: rgb(47, 42, 41);
  border-radius: 25px;
  box-shadow: 2px 2px 15px rgb(252, 252, 252);
  transition: 1s;
}

div9:hover {
  transform: scale(1.03);
}

div9 h1 {
  color: aqua;
  margin: 0 0 20px 0;
}

div9>div91 {
  width: 100%;
}

div9>div91>div92 {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

div10 {
  margin: 40px;
  min-height: 350px;
  width: 800px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: black;
  background-color: rgb(47, 42, 41);
  border-radius: 25px;
  box-shadow: 2px 2px 15px rgb(252, 252, 252);
  transition: 1s;
}

div10:hover {
  transform: scale(1.03);
}

div10 h1 {
  color: aqua;
}

div101 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 40px;
}

div101>table,
div101>table th,
div101>table td {
  border: 1px solid white;
}

div101>table th,
div101>table td {
  padding: 5px 30px;
}

div1011 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

div1011>input {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #f9f9f9;
}

div1011>button {
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 600;
  background-color: rgb(51, 190, 233);
  border-radius: 10px;
  cursor: pointer;
}

div1011>button:hover {
  transform: scale(0.95);
}

div101>table th{
  font-weight: 900;
  background-color: #6ffad7;
  color: black;
}

div101>table tr:nth-child(even){
  background-color: #13efff;
  color: black;
}

div101>table tr:nth-child(odd){
  background-color: #7aa3fc;
  color: black;
}